@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

:root {
  --black: #141414;
  --black-light: #f3f3f3;
  --gray: #161a1d;
  --white: #ffffff;
  --font: "Roboto", sans-serif;
  --font-serif: "Roboto Serif", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.btn {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  border: 1px solid --black;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  transition: 0.9s ease;
  max-height: 50px;
}

.btn:hover {
  color: var(--white);
}

.btn::before {
  background-color: var(--black);
  content: "";
  width: 200px;
  height: 200px;
  transform: rotate(50deg);
  position: absolute;
  left: -159px;
  bottom: -168px;
  transition: 0.9s ease;
}

.btn:hover::before {
  transform: scale(3.4) translate(-15%);
  border-radius: 100%;
  transform-origin: left;
}

.btn span {
  z-index: 1;
  position: relative;
  font-size: 16px !important;
}

.section-title {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.section {
  padding-block: 3rem;
}

.header {
  position: relative;
}

.nav-logo {
  display: none;
}

.nav-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--black);
  z-index: 9;
}

.nav-button .line {
  fill: none;
  stroke: var(--white);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.nav-button .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.nav-button .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.nav-button.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.nav-button.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.nav-button.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.nav-mobile {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  transition: left 0.4s ease-in;
  background-color: var(--white);
  z-index: 8;
}

.nav-mobile.show {
  left: 0;
  transition: left 0.4s ease-in;
}

.nav-mobile-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-mobile-menu:hover a {
  color: var(--black-light);
}

.nav-mobile-menu a:hover {
  color: var(--black);
}

.nav-mobile-menu li {
  margin-block-end: 2rem;
}

.nav-mobile-menu a {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-mobile-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-mobile-social svg {
  width: 25px;
  height: 25px;
}

.hero {
  width: 100%;
  height: 90vh;
  background-image: url("../media/meat-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--white);
}

.hero-container img {
  width: 150px;
  margin-block-end: 2rem;
}

.hero-container h1 {
  font-size: 3rem;
  line-height: 0.5;
}

.hero-container p {
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 2rem;
}

.products-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 2rem;
}

.products-item {
  display: flex;
  gap: 2rem;
}

.products-item-box {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.products-item-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.products-item-box h3 {
  line-height: 1;
  margin-block-end: 0.5rem;
}

.products-item-box .products-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.products-item-box .products-info-price {
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-light {
  background: #f3f3f3;
  display: inline-block;
  text-align: center;
  padding: 5px 30px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--btn-color);
  position: relative;
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
}

.btn-light:hover {
  background-color: var(--black);
  color: var(--white);
}

.products-recomend {
  margin-block-end: 3rem;
}

.products-ofer {
  background-image: url(../media/brick-wall-dark.png);
  background-color: rgb(0, 0, 0);
  padding: 3rem;
  color: var(--white);
  text-align: center;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.products-container .products-recomend:nth-child(4) .products-ofer {
  background-image: url(../media/hamburger.png);
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  color: var(--white);
  text-align: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  color: black;
}

.products-ofer > span {
  display: block;
  font-size: 1.2rem;
  margin-block-end: 0.5rem;
  font-weight: 700;
  font-family: var(--font-serif);
  color: #ffffff90;
}

.products-ofer h3 {
  font-size: clamp(1.5rem, 2.5rem, 6vw);
  margin-block-end: 2rem;
  font-family: var(--font-serif);
  letter-spacing: 1px;
}

.products-ofer-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-ofer-item ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.products-ofer-item li {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: left;
}

.products-ofer-item li p:nth-child(1) {
  max-width: 70%;
}

.products-ofer-item li p:nth-child(2) {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.products-ofer-item .btn {
  align-self: center;
}
